@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

body {
    background-color: #fff7b4;
}

* {
    font-family: "Nanum Gothic Coding", monospace;
}

.container {
    margin: 0 auto;
    display: grid;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    height: auto;
    background-color: #f6dfff;
}

.main-header {
    grid-column: 1 / 4;
    grid-row: 1;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    font-size: 50px;
    color: black;
}

.display {
    grid-column: 1 / 4;
    grid-row: 2;
    border: 1px solid black;
    border-radius: 7px;
    height: 70px;
    margin: 2px;
    background-color: #ffbce6;
}

.display-equation {
    padding: 5px;
    text-align: left;
    color: #444;
}

.display-total {
    padding-top: 15px;
    padding-right: 10px;
    text-align: right;
    font-size: x-large;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 3;
    grid-row: 4;
    width: 217.5px;
    height: 200px;
}

.operators {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column: 3;
    grid-row: 4;
    width: 72.5px;
    height: 200px;
    font-size: larger;
}

#clear {
    grid-column: 1 / 2;
    grid-row: 3;
    margin: 10px 0px 10px 2px;
    width: 146px;
    height: 50px;
    font-size: larger;
}

#delete {
    grid-column: 2 / 4;
    grid-row: 3;
    margin: 10px 0px 10px 2px;
    width: 146px;
    height: 50px;
    font-size: larger;
}

button {
    margin: 2px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #d4eeff;
    font-size: larger;
    cursor: pointer;
}

button:hover { 
    background-color: #fff7b4;
}
